name: Check Format

on:
  push:

jobs:
  check-fmt:
    name: Check formatting
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install latest rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true

    - name: Check cargo fmt
      run: cargo fmt --check


  check-clippy:
    name: Check code style (clippy)
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install latest rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        default: true
        override: true

    - name: Check cargo clippy
      run: cargo clippy
